# Import Library

In [6]:
import pandas as pd
import os
import re

from sqlalchemy import create_engine, text, inspect

# Define Function

In [ ]:
def insert_dataframes(
    data_dict: dict[str, pd.DataFrame],
    engine,
    table_order: list[str] = None,
    default_if_exists: str = "append",
    per_table_if_exists: dict[str, str] | None = None,
    chunksize: int = 10_000,
    use_multi: bool = True,
    echo: bool = True
) -> None:
    """
    DataFrame ë”•ì…”ë„ˆë¦¬ë¥¼ MySQL í…Œì´ë¸”ì— ì¼ê´„ ì‚½ì…í•©ë‹ˆë‹¤. í…Œì´ë¸”ë³„ if_exists ëª¨ë“œë¥¼ ê°œë³„ ì§€ì •í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

    Parameters
    ----------
    data_dict : dict[str, pandas.DataFrame]
        key=í…Œì´ë¸”ëª…, value=ì‚½ì…í•  DataFrame.
        ì˜ˆ: {"users": df_users, "orders": df_orders, ...}

    engine : sqlalchemy.Engine
        SQLAlchemy ì—”ì§„ ì¸ìŠ¤í„´ìŠ¤ (ì˜ˆ: mysql+pymysql://...).

    table_order : list[str] | None, optional
        í…Œì´ë¸” ìˆœì„œ. ê¸°ë³¸ê°’ None.
        ì˜ˆ: ["users", "orders", "order_items", "events", "products", "promotions"]

    default_if_exists : {"append","replace"}, optional
        ëª¨ë“  í…Œì´ë¸”ì— ì ìš©ë˜ëŠ” ê¸°ë³¸ ì‚½ì… ëª¨ë“œ. ê¸°ë³¸ê°’ "append".
        - "append"  : ê¸°ì¡´ í…Œì´ë¸” ìœ ì§€, ë°ì´í„°ë§Œ ì¶”ê°€
        - "replace" : ê¸°ì¡´ í…Œì´ë¸” ë“œë¡­ í›„ ì¬ìƒì„± ë’¤ ì‚½ì… (ì£¼ì˜)

    per_table_if_exists : dict[str, str] | None, optional
        íŠ¹ì • í…Œì´ë¸”ë§Œ ë³„ë„ ëª¨ë“œë¡œ ì˜¤ë²„ë¼ì´ë“œí•  ë•Œ ì‚¬ìš©.
        ì˜ˆ: {"orders": "replace", "order_items": "append"}

    chunksize : int, optional
        ëŒ€ëŸ‰ ë°ì´í„° ì ì¬ ì‹œ ì²­í¬ ë‹¨ìœ„ í¬ê¸°. ê¸°ë³¸ 10,000.

    use_multi : bool, optional
        Trueë©´ `method="multi"`ë¡œ ë‹¤ì¤‘ í–‰ insert ìµœì í™” ì‹œë„.

    echo : bool, optional
        ê° í…Œì´ë¸” ì²˜ë¦¬ ê²°ê³¼ë¥¼ í‘œì¤€ ì¶œë ¥ìœ¼ë¡œ ì•Œë¦¼.

    Notes
    -----
    - í…Œì´ë¸”ì´ ì‚¬ì „ì— ìƒì„±ë˜ì–´ ìˆê³  ìŠ¤í‚¤ë§ˆê°€ ì¼ì¹˜í•œë‹¤ê³  ê°€ì •í•©ë‹ˆë‹¤.
    - "replace"ëŠ” í…Œì´ë¸”ì„ ë“œë¡­ í›„ ìƒì„±í•˜ë¯€ë¡œ ì™¸ë˜ í‚¤ ì œì•½ì´ë‚˜ ê¶Œí•œì— ìœ ì˜í•˜ì„¸ìš”.
    - MySQLì—ì„œ í•œê¸€/íŠ¹ìˆ˜ë¬¸ì ê¹¨ì§ ë°©ì§€ë¥¼ ìœ„í•´ ì—”ì§„ ìƒì„± ì‹œ `?charset=utf8mb4`ë¥¼ ê¶Œì¥í•©ë‹ˆë‹¤.

    Examples
    --------
    >>> insert_dataframes(data_dict, engine, default_if_exists="append")
    >>> insert_dataframes(
    ...     data_dict,
    ...     engine,
    ...     table_order=["users", "orders", "order_items", "events"],
    ...     default_if_exists="append",
    ...     per_table_if_exists={"orders": "replace"},
    ...     chunksize=5000
    ... )
    """
    for table_name in table_order:
        
        df = data_dict[table_name]
        try:
            mode = default_if_exists
            if per_table_if_exists and table_name in per_table_if_exists:
                mode = per_table_if_exists[table_name]

            df.to_sql(
                name=table_name,
                con=engine,
                if_exists=mode,
                index=False,
                chunksize=chunksize,
                method="multi" if use_multi else None
            )
            if echo:
                print(f"âœ… {table_name} í…Œì´ë¸” ë°ì´í„° ì‚½ì… ì™„ë£Œ (if_exists='{mode}', rows={len(df)})")
        except Exception as e:
            if echo:
                print(f"âŒ {table_name} í…Œì´ë¸” ë°ì´í„° ì‚½ì… ì‹¤íŒ¨\n{e}")

In [5]:
def validate_data_load(data_dict: dict, engine) -> None:
    """
    DataFrameì´ MySQL í…Œì´ë¸”ì— ì˜¬ë°”ë¥´ê²Œ ì ì¬ë˜ì—ˆëŠ”ì§€ ê²€ì¦í•˜ëŠ” í•¨ìˆ˜.

    Parameters
    ----------
    data_dict : dict[str, pandas.DataFrame]
        í…Œì´ë¸” ì´ë¦„ì„ key, ê²€ì¦í•  DataFrameì„ valueë¡œ ê°–ëŠ” ë”•ì…”ë„ˆë¦¬.
    
    engine : sqlalchemy.engine.base.Engine
        SQLAlchemy Engine ê°ì²´. DB ì—°ê²° ì •ë³´ë¥¼ ë‹´ê³  ìˆìœ¼ë©°,
        ì´ ì—”ì§„ì„ í†µí•´ ê²€ì¦ ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•©ë‹ˆë‹¤.

    Notes
    -----
    - row count ë¹„êµ: DataFrame í–‰ ìˆ˜ì™€ DB í…Œì´ë¸” row countë¥¼ ë¹„êµí•©ë‹ˆë‹¤.
    - column type ë¹„êµ: pandas dtypeê³¼ DBì˜ column typeì„ ë‹¨ìˆœ ë¹„êµí•©ë‹ˆë‹¤.
      (DBMSë³„ type ì°¨ì´ë¡œ 100% ë™ì¼í•˜ì§€ ì•Šì„ ìˆ˜ ìˆìŒ. ì˜ˆ: VARCHAR â†” object)
    - ì°¨ì´ê°€ ìˆëŠ” ê²½ìš° ìƒì„¸ ë©”ì‹œì§€ë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤.

    Examples
    --------
    >>> validate_data_load(data_dict, engine)
    âœ… users: row ìˆ˜ ì¼ì¹˜ (10000)
    âš ï¸  products: row ìˆ˜ ë¶ˆì¼ì¹˜ (df=5000, db=4999)
    âœ… orders: ì»¬ëŸ¼ ìˆ˜ ë° dtype ì¼ì¹˜
    """
    inspector = inspect(engine)

    for table_name, df in data_dict.items():
        try:
            with engine.connect() as conn:
                # 1) DB í…Œì´ë¸” row count ê°€ì ¸ì˜¤ê¸°
                db_count = conn.execute(text(f"SELECT COUNT(*) FROM {table_name}")).scalar()
                df_count = len(df)

                if db_count == df_count:
                    print(f"âœ… {table_name}: row ìˆ˜ ì¼ì¹˜ ({db_count})")
                else:
                    print(f"âš ï¸  {table_name}: row ìˆ˜ ë¶ˆì¼ì¹˜ (df={df_count}, db={db_count})")

                # 2) DB í…Œì´ë¸” ì»¬ëŸ¼ ìŠ¤í‚¤ë§ˆ ê°€ì ¸ì˜¤ê¸°
                db_columns = inspector.get_columns(table_name)
                db_col_names = [col["name"] for col in db_columns]

                if list(df.columns) == db_col_names:
                    print(f"âœ… {table_name}: ì»¬ëŸ¼ ì´ë¦„ ì¼ì¹˜")
                else:
                    print(f"âš ï¸  {table_name}: ì»¬ëŸ¼ ì´ë¦„ ë¶ˆì¼ì¹˜\n"
                          f"   df : {list(df.columns)}\n"
                          f"   db : {db_col_names}")

                # 3) dtype ë‹¨ìˆœ ë§¤í•‘ (pandas dtype â†” DB type)
                df_dtypes = df.dtypes.astype(str).to_dict()
                db_dtypes = {col["name"]: str(col["type"]) for col in db_columns}

                mismatch = []
                for col, dtype in df_dtypes.items():
                    if col in db_dtypes and dtype not in db_dtypes[col].lower():
                        mismatch.append((col, dtype, db_dtypes[col]))

                if mismatch:
                    print(f"âš ï¸  {table_name}: dtype ë¶ˆì¼ì¹˜")
                    for col, d1, d2 in mismatch:
                        print(f"   - {col}: df={d1}, db={d2}")
                else:
                    print(f"âœ… {table_name}: dtype ê²€ì‚¬ í†µê³¼")

        except Exception as e:
            print(f"âŒ {table_name}: ê²€ì¦ ì‹¤íŒ¨ - {e}")

In [ ]:
def _mysql_info(mysql_type_str: str) -> dict:
    """
    MySQL ì»¬ëŸ¼ íƒ€ì… ë¬¸ìì—´ì„ ë¶„ì„í•˜ì—¬ ê³„ì—´(family)ê³¼ ê¸°ë³¸ íƒ€ì…(base)ì„ ë°˜í™˜í•©ë‹ˆë‹¤.

    Parameters
    ----------
    mysql_type_str : str
        INFORMATION_SCHEMA ë˜ëŠ” SQLAlchemy inspectorì—ì„œ ì¶”ì¶œí•œ MySQL ì»¬ëŸ¼ íƒ€ì… ë¬¸ìì—´.
        ì˜ˆ: 'VARCHAR(255)', 'INT', 'BIGINT UNSIGNED', 'DATETIME', 'DECIMAL(10,2)'

    Returns
    -------
    dict
        {
            "family": str,   # ì»¬ëŸ¼ ê³„ì—´ ('integer', 'float', 'string', 'datetime', 'date', 'json', 'other')
            "base": str      # MySQL ê¸°ë³¸ íƒ€ì…ëª… (varchar, int, bigint, double, datetime, date ë“±)
        }

    Notes
    -----
    - ì •ìˆ˜í˜•: TINYINT, SMALLINT, MEDIUMINT, INT, BIGINT â†’ family='integer'
    - ì‹¤ìˆ˜í˜•: FLOAT, DOUBLE, REAL, DECIMAL, NUMERIC     â†’ family='float'
    - ë¬¸ìì—´: VARCHAR, CHAR â†’ family='string'
    - TEXT/ENUM/SET ë“± ë¬¸ìì—´ ê³„ì—´ì€ family='string'ìœ¼ë¡œ ë¶„ë¥˜í•˜ì§€ë§Œ, ê²€ì¦ ì‹œ ë¶ˆì¼ì¹˜ ì²˜ë¦¬ ê°€ëŠ¥
    - JSONì€ family='json'
    - DATETIME, TIMESTAMP â†’ family='datetime'
    - DATE â†’ family='date'
    - ë§¤ì¹­ ë¶ˆê°€ ì‹œ family='other'
    """
    s = mysql_type_str.strip().lower().replace("unsigned", "").strip()
    m = re.match(r"([a-z]+)", s)
    base = m.group(1) if m else s

    if base in ("tinyint", "smallint", "mediumint", "int", "integer", "bigint"):
        family = "integer"
    elif base in ("float", "double", "real", "decimal", "numeric"):
        family = "float"
    elif base in ("varchar", "char"):
        family = "string"
    elif base in ("text", "tinytext", "mediumtext", "longtext", "enum", "set"):
        family = "string"   # ë¬¸ìì—´ ê³„ì—´ì´ì§€ë§Œ ì—¬ê¸°ì„œëŠ” ë¶ˆì¼ì¹˜ ì²˜ë¦¬
    elif base in ("json",):
        family = "json"
    elif base in ("datetime", "timestamp"):
        family = "datetime"
    elif base in ("date",):
        family = "date"
    else:
        family = "other"
    return {"family": family, "base": base}


def _pandas_family(pd_dtype_str: str) -> str:
    """
    pandas DataFrameì˜ dtype ë¬¸ìì—´ì„ ë‹¨ìˆœí™”í•˜ì—¬ ê³„ì—´(family)ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.

    Parameters
    ----------
    pd_dtype_str : str
        pandas Series.dtypeì„ ë¬¸ìì—´ë¡œ ë³€í™˜í•œ ê°’.
        ì˜ˆ: 'int64', 'float64', 'object', 'string', 'datetime64[ns]', 'bool'

    Returns
    -------
    str
        ê³„ì—´ëª… ì¤‘ í•˜ë‚˜ ('integer', 'float', 'string', 'datetime', 'other')

    Notes
    -----
    - int ê³„ì—´(int8, int16, int32, int64) â†’ 'integer'
    - float ê³„ì—´(float16, float32, float64) â†’ 'float'
    - object, string ê³„ì—´ â†’ 'string'
    - datetime64[...] â†’ 'datetime'
    - bool, boolean â†’ 'integer' (MySQLì—ì„œ ë³´í†µ TINYINT(1)ë¡œ ë§¤í•‘ë˜ê¸° ë•Œë¬¸)
    - ê·¸ ì™¸ íƒ€ì…ì€ 'other'
    """
    s = pd_dtype_str.strip().lower()
    if s.startswith("int") and "pyarrow" not in s:
        return "integer"
    if s.startswith("float"):
        return "float"
    if s in ("object", "string", "string[python]", "string[pyarrow]"):
        return "string"
    if s.startswith("datetime64"):
        return "datetime"
    if s in ("bool", "boolean"):
        return "integer"
    return "other"


def validate_data(data_dict: dict, engine, check_rows: bool = True) -> None:
    """
    DataFrameê³¼ MySQL í…Œì´ë¸” ê°„ ì ì¬ ê²°ê³¼ë¥¼ ì ê²€í•©ë‹ˆë‹¤.
    - í–‰(row) ìˆ˜: DataFrame í–‰ ìˆ˜ì™€ DB í…Œì´ë¸” ë ˆì½”ë“œ ìˆ˜ ë¹„êµ
    - ì»¬ëŸ¼ ì´ë¦„: DataFrame ì»¬ëŸ¼ ìˆœì„œì™€ DB ì»¬ëŸ¼ ìˆœì„œ ë¹„êµ
    - dtype ê³„ì—´: ì•„ë˜ ê¸°ì¤€ìœ¼ë¡œ ì–‘ì¸¡ íƒ€ì… ê³„ì—´ ë¹„êµ
        * ë¬¸ìì—´: DataFrame(object/string) â†” DB(VARCHAR/CHAR)   â† TEXT/JSONì€ ë¶ˆì¼ì¹˜ ì²˜ë¦¬
        * ì •ìˆ˜  : DataFrame(int ê³„ì—´)      â†” DB(TINY/SMALL/MEDIUM/INT/BIGINT)
        * ì‹¤ìˆ˜  : DataFrame(float ê³„ì—´)    â†” DB(FLOAT/DOUBLE/DECIMAL/NUMERIC/REAL)
        * ì‹œê°„  : DataFrame(datetime64)    â†” DB(DATE/DATETIME/TIMESTAMP)
        * ë¶ˆë¦¬ì–¸: DataFrame(bool/boolean)  â†” DB(TINYINT(1))ë¡œ ê°„ì£¼í•˜ì—¬ ì •ìˆ˜ì™€ ë™ì¼ ê³„ì—´ë¡œ íŒë‹¨

    Parameters
    ----------
    data_dict : dict[str, pandas.DataFrame]
        key=í…Œì´ë¸”ëª…, value=ê²€ì¦ ëŒ€ìƒ DataFrame.
    engine : sqlalchemy.engine.Engine
        SQLAlchemy ì—”ì§„ ì¸ìŠ¤í„´ìŠ¤.
    check_rows : bool, default True
        Trueì´ë©´ í–‰ ìˆ˜ ë¹„êµë¥¼ ìˆ˜í–‰í•©ë‹ˆë‹¤.

    Notes
    -----
    - dfì˜ ë¬¸ìì—´ ê³„ì—´ì€ DBì—ì„œ VARCHAR/CHARì¸ ê²½ìš°ì—ë§Œ ì¼ì¹˜ë¡œ ê°„ì£¼í•©ë‹ˆë‹¤.
      TEXT/ENUM/SET/JSON ë“±ì€ ë¬¸ìì—´ ê³„ì—´ì´ì§€ë§Œ ë³¸ ê²€ì¦ ê¸°ì¤€ì—ì„œëŠ” ë¶ˆì¼ì¹˜ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.
    - ë¶ˆì¼ì¹˜ ì»¬ëŸ¼ì€ df dtype, DB ì»¬ëŸ¼ íƒ€ì…(ì›ë¬¸), ê° ê³„ì—´ì„ í•¨ê»˜ í‘œì‹œí•©ë‹ˆë‹¤.

    Examples
    --------
    >>> validate_data({"users": df_users, "orders": df_orders}, engine, check_rows=True)
    """
    inspector = inspect(engine)

    for table_name, df in data_dict.items():
        print(f"\n=== ê²€ì¦: {table_name} ===")
        try:
            # 1) í–‰ ìˆ˜ ë¹„êµ
            if check_rows:
                with engine.connect() as conn:
                    db_count = conn.execute(text(f"SELECT COUNT(*) FROM {table_name}")).scalar()
                df_count = len(df)
                if db_count == df_count:
                    print(f"âœ… row ìˆ˜ ì¼ì¹˜ ({db_count})")
                else:
                    print(f"âš ï¸  row ìˆ˜ ë¶ˆì¼ì¹˜ (df={df_count}, db={db_count})")

            # 2) ì»¬ëŸ¼ ì´ë¦„ ë¹„êµ
            db_cols = inspector.get_columns(table_name)
            db_col_names = [c["name"] for c in db_cols]
            db_types_raw = {c["name"]: str(c["type"]) for c in db_cols}
            if list(df.columns) == db_col_names:
                print("âœ… ì»¬ëŸ¼ ì´ë¦„ ì¼ì¹˜")
            else:
                print("âš ï¸  ì»¬ëŸ¼ ì´ë¦„ ë¶ˆì¼ì¹˜")
                print(f"    df : {list(df.columns)}")
                print(f"    db : {db_col_names}")

            # 3) dtype ê³„ì—´ ë¹„êµ (ë¬¸ìì—´ì€ VARCHAR/CHARë§Œ ì¼ì¹˜ë¡œ ì¸ì •)
            mismatches = []
            for col in df.columns:
                pd_family = _pandas_family(str(df.dtypes[col]))
                my = _mysql_info(db_types_raw.get(col, "other"))

                ok = False
                if pd_family == "string":
                    ok = (my["base"] in ("varchar", "char"))  # TEXT/JSONì€ ë¶ˆì¼ì¹˜
                elif pd_family == "integer":
                    ok = (my["family"] == "integer")
                elif pd_family == "float":
                    ok = (my["family"] == "float")
                elif pd_family == "datetime":
                    ok = (my["family"] in ("datetime", "date"))
                else:
                    ok = (pd_family == my["family"])

                if not ok:
                    mismatches.append(
                        (col, str(df.dtypes[col]), db_types_raw.get(col, "UNKNOWN"), pd_family, my["family"], my["base"])
                    )

            if mismatches:
                print("âš ï¸  dtype ë¶ˆì¼ì¹˜")
                for col, d_pd, d_db, f_pd, f_db, base_db in mismatches:
                    print(f"   - {col}: df={d_pd}({f_pd}) â†” db={d_db}({f_db}/{base_db})")
                print("ğŸ’¡ ê¶Œì¥: df ìºìŠ¤íŒ… ë˜ëŠ” DB ì»¬ëŸ¼ íƒ€ì… ì¡°ì •ìœ¼ë¡œ ê³„ì—´ì„ ë§ì¶”ì„¸ìš”. "
                      "ë¬¸ìì—´ì€ VARCHAR/CHAR ì‚¬ìš© ê¶Œì¥.")
            else:
                print("âœ… dtype ê²€ì‚¬ í†µê³¼")

        except Exception as e:
            print(f"âŒ ê²€ì¦ ì‹¤íŒ¨ - {e}")

In [2]:
def truncate_table(engine, table_name: str):
    """
    ì§€ì •í•œ í…Œì´ë¸”ì˜ ëª¨ë“  ë°ì´í„°ë¥¼ ì‚­ì œí•˜ëŠ” í•¨ìˆ˜.

    Parameters
    ----------
    engine : sqlalchemy.engine.base.Engine
        SQLAlchemy Engine ê°ì²´. DB ì—°ê²° ì •ë³´ë¥¼ ë‹´ê³  ìˆìœ¼ë©°,
        ì´ ì—”ì§„ì„ í†µí•´ SQL ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•©ë‹ˆë‹¤.
    
    table_name : str
        ë°ì´í„°ë¥¼ ì‚­ì œí•  í…Œì´ë¸” ì´ë¦„. ë°˜ë“œì‹œ ì‹¤ì œ DBì— ì¡´ì¬í•˜ëŠ” í…Œì´ë¸”ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
    
    use_truncate : bool, optional (default=False)
        True  â†’ TRUNCATE TABLE ë¬¸ì„ ì‹¤í–‰ (ë°ì´í„° ì‚­ì œ + AUTO_INCREMENT ì´ˆê¸°í™”, ë¡¤ë°± ë¶ˆê°€)  
        False â†’ DELETE FROM ë¬¸ì„ ì‹¤í–‰ (ë°ì´í„°ë§Œ ì‚­ì œ, AUTO_INCREMENT ìœ ì§€, ë¡¤ë°± ê°€ëŠ¥)

    Notes
    -----
    - í…Œì´ë¸” ìì²´ëŠ” ì‚­ì œë˜ì§€ ì•ŠìŠµë‹ˆë‹¤. (ìŠ¤í‚¤ë§ˆ/êµ¬ì¡° ìœ ì§€)
    - `TRUNCATE`ëŠ” ë‚´ë¶€ì ìœ¼ë¡œ DROP/CREATEì™€ ìœ ì‚¬í•˜ê²Œ ë™ì‘í•˜ë¯€ë¡œ
      ë¡¤ë°±ì´ ë¶ˆê°€ëŠ¥í•˜ê³ , ì™¸ë˜í‚¤ ì œì•½ì¡°ê±´ì´ ìˆëŠ” ê²½ìš° ì˜¤ë¥˜ê°€ ë°œìƒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
    - `DELETE`ëŠ” ì¡°ê±´(whereì ˆ) ì—†ì´ ì‹¤í–‰ë˜ë¯€ë¡œ ëª¨ë“  í–‰ì´ ì‚­ì œë˜ë©°,
      íŠ¸ëœì­ì…˜ ë‚´ì—ì„œ ì‹¤í–‰ë˜ë¯€ë¡œ ë¡¤ë°±ì´ ê°€ëŠ¥í•©ë‹ˆë‹¤.

    Examples
    --------
    >>> truncate_table(engine, "users")
    âœ… 'users' í…Œì´ë¸” ë°ì´í„°ê°€ ëª¨ë‘ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤.

    >>> truncate_table(engine, "orders", use_truncate=True)
    âœ… 'orders' í…Œì´ë¸” ë°ì´í„°ê°€ ëª¨ë‘ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤. (TRUNCATE)
    """
    with engine.connect() as conn:
        # íŠ¸ëœì­ì…˜ ì‹œì‘
        trans = conn.begin()
        try:
            conn.execute(text(f"DELETE FROM {table_name}"))
            trans.commit()
            print(f"âœ… '{table_name}' í…Œì´ë¸” ë°ì´í„°ê°€ ëª¨ë‘ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤.")
        except Exception as e:
            trans.rollback()
            print(f"âŒ ì˜¤ë¥˜ ë°œìƒ: {e}")

# Insert Data to DB Tables

## DB Connect

In [ ]:
# 2) DB ì—°ê²° ì—”ì§„ ìƒì„±
# mysql+pymysql://username:password@host:port/database
password = ''
db_name = 'ecommerce'

try:
    engine = create_engine(f"mysql+pymysql://root:{password}@localhost:3306/{db_name}?charset=utf8mb4")
    print("DB ì—°ê²° ì„±ê³µ")
except Exception as e:
    print(f"DB ì—°ê²° ì‹¤íŒ¨: {e}")

DB ì—°ê²° ì„±ê³µ

## Data Load

In [ ]:
# Data ë¦¬ìŠ¤íŠ¸ ë¶ˆëŸ¬ì˜¤ê¸°
data_path = os.path.join(os.getcwd(), 'data')
data_files = os.listdir(data_path)

# DB Tableì— ì ì¬í•˜ì§€ ì•ŠëŠ” íŒŒì¼ì„ ë¦¬ìŠ¤íŠ¸ì—ì„œ ì œê±°
table_order = ['users', 'products', 'promotions', 'events', 'orders', 'order_items']
data_files = [file.split('.')[0] for file in files if file.split('.')[0] in table_order]

# DataFrame ë”•ì…”ë„ˆë¦¬ ìƒì„±
df_dict = {file_name: pd.read_csv(os.path.join(data_path, f"{file_name}.csv")) for file_name in data_files}

for name, df in df_dict.items():
    print(f"{name}: {df.shape}")

products: (30000, 8)
orders: (378793, 10)
users: (103648, 11)
promotions: (14, 8)
events: (20786258, 12)
order_items: (828292, 15)

## Insert & Validate

In [ ]:
# ë°ì´í„° ì‚½ì…

table_order = ["users", "products", "promotions", "events", "orders", "order_items"]

insert_dataframes(df_dict, engine, table_order=table_order, chunksize=10000)

712246

In [ ]:
# ì˜¬ë°”ë¥´ê²Œ ì‚½ì…ëëŠ”ì§€ ê²€ì¦

validate_data(df_dict, engine, check_rows = True)