# Import Library

In [6]:
import pandas as pd
import os
import re

from sqlalchemy import create_engine, text, inspect

# Define Function

In [ ]:
def insert_dataframes(
    data_dict: dict[str, pd.DataFrame],
    engine,
    table_order: list[str] = None,
    default_if_exists: str = "append",
    per_table_if_exists: dict[str, str] | None = None,
    chunksize: int = 10_000,
    use_multi: bool = True,
    echo: bool = True
) -> None:
    """
    DataFrame 딕셔너리를 MySQL 테이블에 일괄 삽입합니다. 테이블별 if_exists 모드를 개별 지정할 수 있습니다.

    Parameters
    ----------
    data_dict : dict[str, pandas.DataFrame]
        key=테이블명, value=삽입할 DataFrame.
        예: {"users": df_users, "orders": df_orders, ...}

    engine : sqlalchemy.Engine
        SQLAlchemy 엔진 인스턴스 (예: mysql+pymysql://...).

    table_order : list[str] | None, optional
        테이블 순서. 기본값 None.
        예: ["users", "orders", "order_items", "events", "products", "promotions"]

    default_if_exists : {"append","replace"}, optional
        모든 테이블에 적용되는 기본 삽입 모드. 기본값 "append".
        - "append"  : 기존 테이블 유지, 데이터만 추가
        - "replace" : 기존 테이블 드롭 후 재생성 뒤 삽입 (주의)

    per_table_if_exists : dict[str, str] | None, optional
        특정 테이블만 별도 모드로 오버라이드할 때 사용.
        예: {"orders": "replace", "order_items": "append"}

    chunksize : int, optional
        대량 데이터 적재 시 청크 단위 크기. 기본 10,000.

    use_multi : bool, optional
        True면 `method="multi"`로 다중 행 insert 최적화 시도.

    echo : bool, optional
        각 테이블 처리 결과를 표준 출력으로 알림.

    Notes
    -----
    - 테이블이 사전에 생성되어 있고 스키마가 일치한다고 가정합니다.
    - "replace"는 테이블을 드롭 후 생성하므로 외래 키 제약이나 권한에 유의하세요.
    - MySQL에서 한글/특수문자 깨짐 방지를 위해 엔진 생성 시 `?charset=utf8mb4`를 권장합니다.

    Examples
    --------
    >>> insert_dataframes(data_dict, engine, default_if_exists="append")
    >>> insert_dataframes(
    ...     data_dict,
    ...     engine,
    ...     table_order=["users", "orders", "order_items", "events"],
    ...     default_if_exists="append",
    ...     per_table_if_exists={"orders": "replace"},
    ...     chunksize=5000
    ... )
    """
    for table_name in table_order:
        
        df = data_dict[table_name]
        try:
            mode = default_if_exists
            if per_table_if_exists and table_name in per_table_if_exists:
                mode = per_table_if_exists[table_name]

            df.to_sql(
                name=table_name,
                con=engine,
                if_exists=mode,
                index=False,
                chunksize=chunksize,
                method="multi" if use_multi else None
            )
            if echo:
                print(f"✅ {table_name} 테이블 데이터 삽입 완료 (if_exists='{mode}', rows={len(df)})")
        except Exception as e:
            if echo:
                print(f"❌ {table_name} 테이블 데이터 삽입 실패\n{e}")

In [5]:
def validate_data_load(data_dict: dict, engine) -> None:
    """
    DataFrame이 MySQL 테이블에 올바르게 적재되었는지 검증하는 함수.

    Parameters
    ----------
    data_dict : dict[str, pandas.DataFrame]
        테이블 이름을 key, 검증할 DataFrame을 value로 갖는 딕셔너리.
    
    engine : sqlalchemy.engine.base.Engine
        SQLAlchemy Engine 객체. DB 연결 정보를 담고 있으며,
        이 엔진을 통해 검증 쿼리를 실행합니다.

    Notes
    -----
    - row count 비교: DataFrame 행 수와 DB 테이블 row count를 비교합니다.
    - column type 비교: pandas dtype과 DB의 column type을 단순 비교합니다.
      (DBMS별 type 차이로 100% 동일하지 않을 수 있음. 예: VARCHAR ↔ object)
    - 차이가 있는 경우 상세 메시지를 출력합니다.

    Examples
    --------
    >>> validate_data_load(data_dict, engine)
    ✅ users: row 수 일치 (10000)
    ⚠️  products: row 수 불일치 (df=5000, db=4999)
    ✅ orders: 컬럼 수 및 dtype 일치
    """
    inspector = inspect(engine)

    for table_name, df in data_dict.items():
        try:
            with engine.connect() as conn:
                # 1) DB 테이블 row count 가져오기
                db_count = conn.execute(text(f"SELECT COUNT(*) FROM {table_name}")).scalar()
                df_count = len(df)

                if db_count == df_count:
                    print(f"✅ {table_name}: row 수 일치 ({db_count})")
                else:
                    print(f"⚠️  {table_name}: row 수 불일치 (df={df_count}, db={db_count})")

                # 2) DB 테이블 컬럼 스키마 가져오기
                db_columns = inspector.get_columns(table_name)
                db_col_names = [col["name"] for col in db_columns]

                if list(df.columns) == db_col_names:
                    print(f"✅ {table_name}: 컬럼 이름 일치")
                else:
                    print(f"⚠️  {table_name}: 컬럼 이름 불일치\n"
                          f"   df : {list(df.columns)}\n"
                          f"   db : {db_col_names}")

                # 3) dtype 단순 매핑 (pandas dtype ↔ DB type)
                df_dtypes = df.dtypes.astype(str).to_dict()
                db_dtypes = {col["name"]: str(col["type"]) for col in db_columns}

                mismatch = []
                for col, dtype in df_dtypes.items():
                    if col in db_dtypes and dtype not in db_dtypes[col].lower():
                        mismatch.append((col, dtype, db_dtypes[col]))

                if mismatch:
                    print(f"⚠️  {table_name}: dtype 불일치")
                    for col, d1, d2 in mismatch:
                        print(f"   - {col}: df={d1}, db={d2}")
                else:
                    print(f"✅ {table_name}: dtype 검사 통과")

        except Exception as e:
            print(f"❌ {table_name}: 검증 실패 - {e}")

In [ ]:
def _mysql_info(mysql_type_str: str) -> dict:
    """
    MySQL 컬럼 타입 문자열을 분석하여 계열(family)과 기본 타입(base)을 반환합니다.

    Parameters
    ----------
    mysql_type_str : str
        INFORMATION_SCHEMA 또는 SQLAlchemy inspector에서 추출한 MySQL 컬럼 타입 문자열.
        예: 'VARCHAR(255)', 'INT', 'BIGINT UNSIGNED', 'DATETIME', 'DECIMAL(10,2)'

    Returns
    -------
    dict
        {
            "family": str,   # 컬럼 계열 ('integer', 'float', 'string', 'datetime', 'date', 'json', 'other')
            "base": str      # MySQL 기본 타입명 (varchar, int, bigint, double, datetime, date 등)
        }

    Notes
    -----
    - 정수형: TINYINT, SMALLINT, MEDIUMINT, INT, BIGINT → family='integer'
    - 실수형: FLOAT, DOUBLE, REAL, DECIMAL, NUMERIC     → family='float'
    - 문자열: VARCHAR, CHAR → family='string'
    - TEXT/ENUM/SET 등 문자열 계열은 family='string'으로 분류하지만, 검증 시 불일치 처리 가능
    - JSON은 family='json'
    - DATETIME, TIMESTAMP → family='datetime'
    - DATE → family='date'
    - 매칭 불가 시 family='other'
    """
    s = mysql_type_str.strip().lower().replace("unsigned", "").strip()
    m = re.match(r"([a-z]+)", s)
    base = m.group(1) if m else s

    if base in ("tinyint", "smallint", "mediumint", "int", "integer", "bigint"):
        family = "integer"
    elif base in ("float", "double", "real", "decimal", "numeric"):
        family = "float"
    elif base in ("varchar", "char"):
        family = "string"
    elif base in ("text", "tinytext", "mediumtext", "longtext", "enum", "set"):
        family = "string"   # 문자열 계열이지만 여기서는 불일치 처리
    elif base in ("json",):
        family = "json"
    elif base in ("datetime", "timestamp"):
        family = "datetime"
    elif base in ("date",):
        family = "date"
    else:
        family = "other"
    return {"family": family, "base": base}


def _pandas_family(pd_dtype_str: str) -> str:
    """
    pandas DataFrame의 dtype 문자열을 단순화하여 계열(family)로 변환합니다.

    Parameters
    ----------
    pd_dtype_str : str
        pandas Series.dtype을 문자열로 변환한 값.
        예: 'int64', 'float64', 'object', 'string', 'datetime64[ns]', 'bool'

    Returns
    -------
    str
        계열명 중 하나 ('integer', 'float', 'string', 'datetime', 'other')

    Notes
    -----
    - int 계열(int8, int16, int32, int64) → 'integer'
    - float 계열(float16, float32, float64) → 'float'
    - object, string 계열 → 'string'
    - datetime64[...] → 'datetime'
    - bool, boolean → 'integer' (MySQL에서 보통 TINYINT(1)로 매핑되기 때문)
    - 그 외 타입은 'other'
    """
    s = pd_dtype_str.strip().lower()
    if s.startswith("int") and "pyarrow" not in s:
        return "integer"
    if s.startswith("float"):
        return "float"
    if s in ("object", "string", "string[python]", "string[pyarrow]"):
        return "string"
    if s.startswith("datetime64"):
        return "datetime"
    if s in ("bool", "boolean"):
        return "integer"
    return "other"


def validate_data(data_dict: dict, engine, check_rows: bool = True) -> None:
    """
    DataFrame과 MySQL 테이블 간 적재 결과를 점검합니다.
    - 행(row) 수: DataFrame 행 수와 DB 테이블 레코드 수 비교
    - 컬럼 이름: DataFrame 컬럼 순서와 DB 컬럼 순서 비교
    - dtype 계열: 아래 기준으로 양측 타입 계열 비교
        * 문자열: DataFrame(object/string) ↔ DB(VARCHAR/CHAR)   ← TEXT/JSON은 불일치 처리
        * 정수  : DataFrame(int 계열)      ↔ DB(TINY/SMALL/MEDIUM/INT/BIGINT)
        * 실수  : DataFrame(float 계열)    ↔ DB(FLOAT/DOUBLE/DECIMAL/NUMERIC/REAL)
        * 시간  : DataFrame(datetime64)    ↔ DB(DATE/DATETIME/TIMESTAMP)
        * 불리언: DataFrame(bool/boolean)  ↔ DB(TINYINT(1))로 간주하여 정수와 동일 계열로 판단

    Parameters
    ----------
    data_dict : dict[str, pandas.DataFrame]
        key=테이블명, value=검증 대상 DataFrame.
    engine : sqlalchemy.engine.Engine
        SQLAlchemy 엔진 인스턴스.
    check_rows : bool, default True
        True이면 행 수 비교를 수행합니다.

    Notes
    -----
    - df의 문자열 계열은 DB에서 VARCHAR/CHAR인 경우에만 일치로 간주합니다.
      TEXT/ENUM/SET/JSON 등은 문자열 계열이지만 본 검증 기준에서는 불일치로 처리합니다.
    - 불일치 컬럼은 df dtype, DB 컬럼 타입(원문), 각 계열을 함께 표시합니다.

    Examples
    --------
    >>> validate_data({"users": df_users, "orders": df_orders}, engine, check_rows=True)
    """
    inspector = inspect(engine)

    for table_name, df in data_dict.items():
        print(f"\n=== 검증: {table_name} ===")
        try:
            # 1) 행 수 비교
            if check_rows:
                with engine.connect() as conn:
                    db_count = conn.execute(text(f"SELECT COUNT(*) FROM {table_name}")).scalar()
                df_count = len(df)
                if db_count == df_count:
                    print(f"✅ row 수 일치 ({db_count})")
                else:
                    print(f"⚠️  row 수 불일치 (df={df_count}, db={db_count})")

            # 2) 컬럼 이름 비교
            db_cols = inspector.get_columns(table_name)
            db_col_names = [c["name"] for c in db_cols]
            db_types_raw = {c["name"]: str(c["type"]) for c in db_cols}
            if list(df.columns) == db_col_names:
                print("✅ 컬럼 이름 일치")
            else:
                print("⚠️  컬럼 이름 불일치")
                print(f"    df : {list(df.columns)}")
                print(f"    db : {db_col_names}")

            # 3) dtype 계열 비교 (문자열은 VARCHAR/CHAR만 일치로 인정)
            mismatches = []
            for col in df.columns:
                pd_family = _pandas_family(str(df.dtypes[col]))
                my = _mysql_info(db_types_raw.get(col, "other"))

                ok = False
                if pd_family == "string":
                    ok = (my["base"] in ("varchar", "char"))  # TEXT/JSON은 불일치
                elif pd_family == "integer":
                    ok = (my["family"] == "integer")
                elif pd_family == "float":
                    ok = (my["family"] == "float")
                elif pd_family == "datetime":
                    ok = (my["family"] in ("datetime", "date"))
                else:
                    ok = (pd_family == my["family"])

                if not ok:
                    mismatches.append(
                        (col, str(df.dtypes[col]), db_types_raw.get(col, "UNKNOWN"), pd_family, my["family"], my["base"])
                    )

            if mismatches:
                print("⚠️  dtype 불일치")
                for col, d_pd, d_db, f_pd, f_db, base_db in mismatches:
                    print(f"   - {col}: df={d_pd}({f_pd}) ↔ db={d_db}({f_db}/{base_db})")
                print("💡 권장: df 캐스팅 또는 DB 컬럼 타입 조정으로 계열을 맞추세요. "
                      "문자열은 VARCHAR/CHAR 사용 권장.")
            else:
                print("✅ dtype 검사 통과")

        except Exception as e:
            print(f"❌ 검증 실패 - {e}")

In [2]:
def truncate_table(engine, table_name: str):
    """
    지정한 테이블의 모든 데이터를 삭제하는 함수.

    Parameters
    ----------
    engine : sqlalchemy.engine.base.Engine
        SQLAlchemy Engine 객체. DB 연결 정보를 담고 있으며,
        이 엔진을 통해 SQL 쿼리를 실행합니다.
    
    table_name : str
        데이터를 삭제할 테이블 이름. 반드시 실제 DB에 존재하는 테이블이어야 합니다.
    
    use_truncate : bool, optional (default=False)
        True  → TRUNCATE TABLE 문을 실행 (데이터 삭제 + AUTO_INCREMENT 초기화, 롤백 불가)  
        False → DELETE FROM 문을 실행 (데이터만 삭제, AUTO_INCREMENT 유지, 롤백 가능)

    Notes
    -----
    - 테이블 자체는 삭제되지 않습니다. (스키마/구조 유지)
    - `TRUNCATE`는 내부적으로 DROP/CREATE와 유사하게 동작하므로
      롤백이 불가능하고, 외래키 제약조건이 있는 경우 오류가 발생할 수 있습니다.
    - `DELETE`는 조건(where절) 없이 실행되므로 모든 행이 삭제되며,
      트랜잭션 내에서 실행되므로 롤백이 가능합니다.

    Examples
    --------
    >>> truncate_table(engine, "users")
    ✅ 'users' 테이블 데이터가 모두 삭제되었습니다.

    >>> truncate_table(engine, "orders", use_truncate=True)
    ✅ 'orders' 테이블 데이터가 모두 삭제되었습니다. (TRUNCATE)
    """
    with engine.connect() as conn:
        # 트랜잭션 시작
        trans = conn.begin()
        try:
            conn.execute(text(f"DELETE FROM {table_name}"))
            trans.commit()
            print(f"✅ '{table_name}' 테이블 데이터가 모두 삭제되었습니다.")
        except Exception as e:
            trans.rollback()
            print(f"❌ 오류 발생: {e}")

# Insert Data to DB Tables

## DB Connect

In [ ]:
# 2) DB 연결 엔진 생성
# mysql+pymysql://username:password@host:port/database
password = ''
db_name = 'ecommerce'

try:
    engine = create_engine(f"mysql+pymysql://root:{password}@localhost:3306/{db_name}?charset=utf8mb4")
    print("DB 연결 성공")
except Exception as e:
    print(f"DB 연결 실패: {e}")

DB 연결 성공

## Data Load

In [ ]:
# Data 리스트 불러오기
data_path = os.path.join(os.getcwd(), 'data')
data_files = os.listdir(data_path)

# DB Table에 적재하지 않는 파일을 리스트에서 제거
table_order = ['users', 'products', 'promotions', 'events', 'orders', 'order_items']
data_files = [file.split('.')[0] for file in files if file.split('.')[0] in table_order]

# DataFrame 딕셔너리 생성
df_dict = {file_name: pd.read_csv(os.path.join(data_path, f"{file_name}.csv")) for file_name in data_files}

for name, df in df_dict.items():
    print(f"{name}: {df.shape}")

products: (30000, 8)
orders: (378793, 10)
users: (103648, 11)
promotions: (14, 8)
events: (20786258, 12)
order_items: (828292, 15)

## Insert & Validate

In [ ]:
# 데이터 삽입

table_order = ["users", "products", "promotions", "events", "orders", "order_items"]

insert_dataframes(df_dict, engine, table_order=table_order, chunksize=10000)

712246

In [ ]:
# 올바르게 삽입됐는지 검증

validate_data(df_dict, engine, check_rows = True)